{% extends "base.html" %}
{% block title %}
    Dogs details
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../static/{{ dog.name }}" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ dog.colour }}</h5>
                <p class="card-text">{{ dog.mood }}.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
